          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/monca/snippet/<%= '1' %>" class="btn btn-danger btn-lg btn-block">                                      
                <h2 class="text-light"> CAFETERIA             ___cafeteria____01ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
