          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/monca/snippet/<%= '12' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BEBIDAS               ____bebidas_____12be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
