    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE . . . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DULCE . . . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU DESAYU/MERIENDA . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU MILANESA . . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAYUNO DE CAMPO C 1 C/L $430</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAYUNO DE CAMPO C/2 C/L $470</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAYUNO CAMPO C/TOST ADI $530</li>                          
                <li class="text-center"><span class="fa-li"></span>MASITAS X KG . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MASITAS X 1/4KG . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/CREMA . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE C/CREMA . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE 3 M.L . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE TOST . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO ITALIANA . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICAN C/CREMA . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA C/ 3 FACTURAS $190</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE . . . . . . . . . .  $85</li>                          
                <li class="text-center"><span class="fa-li"></span>TE G.HILLS . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DIGEST.SABORIZADO . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS C/U . . . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS-GALLETITAS . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MANTECA O MERMELADA . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MATE COCIDO . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + 2 FACTURAS $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + 1/2 TORTA  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + MEDIO TOST $230</li>                          
                <li class="text-center"><span class="fa-li"></span>TE ."MONTECASTRO" . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFES ESPECIALES . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>TE "MONTE CASTRO" PARA 2  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS * 6 . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS * 12 . . . . . $370</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/monca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
