    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO GASEOSA . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO DEL DIA . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU PASTAS ESPECIALES .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU PASTAS . . . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU NOQUIS 29 . . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA PERSONAL . . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZAD PERSONAL . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADA SER . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA O AGUA . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP/BALON QUILMES . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES CRISTAL . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS/HEINEKEN .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES/BOCK/1890/IMPERIA $280</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE CERVEZA . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>ANDES/ IGUANA 970ML . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGOS EXPRIMIDOS . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE JUGO CHICA . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>COPITA DE LIMON . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC TUTTI/FRUTILL AL AGUA $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS CON LECHE O NARA $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO FRUTILL C/LEC/NAR $200</li>                          
                <li class="text-center"><span class="fa-li"></span>VASITO JUGO NARANJA . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS FRUTALES AL AGUA $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFAYATE . . . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE MOSCATO 1500CC . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>UXMAL . . . . . . . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 3/4 . . . . . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 3/4 . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>SODA SIFON 500 ML . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>ETCHART PRIVADO BLANCO .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>BOTELLA DE MOSCATO . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS DE CATENA 3/4 . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO DE MOSCATO . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 375CC . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON COSECHA TARDIA 3/4 $410</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 375CC . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 375CC . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO LATA . . . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON 375CC . . . . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON DOC 750CC . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASIA . . . . . . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO CROTTA COPA . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO CROTTA JARRA 1/2 . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO CROTTA JARRA 1 LITRO $240</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ DULCE 750 . . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE VINO DE LA CASA . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE CHAMPAGNE . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO DE MOSCATO . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISCOLA . . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA/FERNET/CINZANO . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>APERITIVO C/TRIOLET . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>LICORES/AGUARDIENTES . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICO DE VINO O SIDRA . $780</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICO DE CHAMPAGNE . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISKY CRIADORES/OLD SMUG $130</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISKY PREMIUM / BLENDERS $130</li>                          
                <li class="text-center"><span class="fa-li"></span>JB/ BALLANTINES . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA/GIN TONIC . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE NACIONAL . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE CHAMPGNE . . . .  $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/monca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
