    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PAN DE PIZZA CHICO . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>COMIDA LGB-LM . . . . . .$1100</li>                          
                <li class="text-center"><span class="fa-li"></span>FESTIVAL DE PASTAS 250 .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA CALIENTE . . . . . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>FESTIVAL DE PASTAS 300 .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE . . . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DULCE . . . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO DE EMP + 2 LATAS .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>TRIOLET . . . . . . . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU DESAYU/MERIENDA . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU MILANESA . . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA DEL DIA . . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAYUNO DE CAMPO C 1 C/L $430</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAYUNO DE CAMPO C/2 C/L $470</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAYUNO CAMPO C/TOST ADI $530</li>                          
                <li class="text-center"><span class="fa-li"></span>MASITAS X KG . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MASITAS X 1/4KG . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/CREMA . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE C/CREMA . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE 3 M.L . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE TOST . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO ITALIANA . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICAN C/CREMA . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA C/ 3 FACTURAS $190</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE . . . . . . . . . .  $85</li>                          
                <li class="text-center"><span class="fa-li"></span>TE G.HILLS . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DIGEST.SABORIZADO . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS C/U . . . . .   $35</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS-GALLETITAS . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>MANTECA O MERMELADA . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>MATE COCIDO . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + 2 FACTURAS $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + 1/2 TORTA  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + MEDIO TOST $230</li>                          
                <li class="text-center"><span class="fa-li"></span>TE ."MONTECASTRO" . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFES ESPECIALES . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>TE "MONTE CASTRO" PARA 2  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO C/U . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS * 6 . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS * 12 . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2PORC A.ORIENTAL C/POLL $300</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA C/CHEDDAR . . . . .  $370</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">TORTAS Y POSTRES    </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/2 TOSTADO MIXTO . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>SENA . . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA ENTERA DE RIC O FLO $500</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION TORTA . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>TAR PORCI RICOT/MAN/FROLA $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA-TIRAMISU . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA O TIRAMISU ENTERO .$1120</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA ARTESANAL X KG . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA ENT RICOTA/MAN . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS FRUTAS . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNOS .O ANANA ALMIBAR $170</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLAS AL NATURAL . .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA TRADICIONAL  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS FRUTAS C/HELADO . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. CREMA O DULCE . . .   $20</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO MIXTO . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CHARLOTTE . . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MER/MEL/BANA/AF . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRITO . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>LEMON CHAMP . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE LOPE DE VEGA . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DULCE DE LECHE  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MIXTO . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUE DE MANZANA AL RHUM $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MONTECASTRO . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS FRUTAS CHICA . . . .   $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/monca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO GASEOSA . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO DEL DIA . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU PASTAS ESPECIALES .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU PASTAS . . . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU NOQUIS 29 . . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA PERSONAL . . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZAD PERSONAL . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADA SER . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA O AGUA . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP/BALON QUILMES . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES CRISTAL . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES/ BOCK/1890 . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE CERVEZA . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>ANDES/ IGUANA 970ML . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGOS EXPRIMIDOS . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE JUGO CHICA . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>COPITA DE LIMON . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC TUTTI/FRUTILL AL AGUA $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS CON LECHE O NARA $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO FRUTILL C/LEC/NAR $200</li>                          
                <li class="text-center"><span class="fa-li"></span>VASITO JUGO NARANJA . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADOS FRUTALES AL AGUA $170</li>                          
                <li class="text-center"><span class="fa-li"></span>HEINEKEN . . . . . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL . . . . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFAYATE . . . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE MOSCATO 1500CC . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TANQUE CERVEZA . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 3/4 . . . . . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 3/4 . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>SODA SIFON 500 ML . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES MOJITO . . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>ETCHART PRIVADO BLANCO .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>BOTELLA DE MOSCATO . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS DE CATENA 3/4 . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE MOSCATO . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 375CC . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON COSECHA TARDIA 3/4 $110</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 375CC . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 375CC . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON 375CC . . . . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON DOC 750CC . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASIA . . . . . . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO CROTTA COPA . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO CROTTA JARRA 1/2 . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO CROTTA JARRA 1 LITRO $240</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ DULCE 750 . . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE VINO DE LA CASA . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE CHAMPAGNE . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO DE MOSCATO . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISCOLA . . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA/FERNET/CINZANO . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>APERITIVO C/TRIOLET . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>LICORES/AGUARDIENTES . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICO DE VINO O SIDRA . $780</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICO DE CHAMPAGNE . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISKY CRIADORES/OLD SMUG $130</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISKY PREMIUM / BLENDERS $130</li>                          
                <li class="text-center"><span class="fa-li"></span>JB/ BALLANTINES . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA/GIN TONIC . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE NACIONAL . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE CHAMPGNE . . . .  $140</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/monca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICH            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>J CRUDO C/ROQUE-BARR . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND QUESO . . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND COCIDO . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND COCIDO/QUESO . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CRUDO . . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CRUDO/QUESO . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLLITOS (2) JAM Y QUESO   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO LECH-TOM-HUE . .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>REC-ATUN-PAL-POLLO/PANC .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>REC QUESO O JAMON . . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMUERZO . . . . . . . .  $400</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ARABES CALIENTES    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENTRADA B . . . . . . . .  $28</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE DE POLLO . . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE DE CHURRASQ . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE POLLO CLASICO . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE CHURR CLASICO . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE DE MILANESA . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILANESA CLASICO .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE DE LOMITO . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE HAMBURGUESA . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE HAMBURGUESA CLASICO $400</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE DE LOMITO CLASICO . $600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZERIA            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>AJO AL OLEO CH . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO GRANDE MUZZ+2HEINEK $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA + COCA COLA . $590</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA 1 DELIVERY .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA 2 DELIVERY .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE MUZZA HEINEKEN . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CELIACOS . . . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA CELIACOS . . . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>EMP CAR /JYQ CELIACOS . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PORC+FAINA+BEBIDA $210</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PORC + BEBIDA . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO GR MUZA +COCA . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS DE VIGILIA C/U   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA GALLEGA . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZ C/JAMON . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC NAPO/J Y MORRON . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGA RELL . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUGA RELL C/JAMON .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA PORCION . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA GDE . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZA C/JAMON GDE . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA GDE . . . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>AL MORRON GDE . . . . . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS GDE . . . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA GDE . . . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/QUESO GDE . . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>AJO AL OLEO GDE . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA GDE . . . . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA CH . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZA C/JAMON CH . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA CH . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>AL MORRON CH . . . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS CH . . . . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA CH . . . . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/QUESO CH . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>AJO AL OLEO CH . . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA CH . . . . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA IND . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZA CON JAMON IND . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA IND . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>AL MORRON IND . . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS IND . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA IND . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/QUESO IND . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>AJO AL OLEO IND . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA IND . . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA GDE . . . . .  $540</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPO ESPECIAL GDE . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA GDE . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE GDE . . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT GDE . . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS GDE . . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPIGNON GDE . . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>VERDE GDE . . . . . . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>CARIBENA GDE . . . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>ILVERO MONTE CASTRO GDE . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA CH . . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPO ESPECIAL CH . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA CH . . . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE CH . . . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT CH . . . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CH . . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPIGNON CH . . . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>VERDE CH . . . . . . . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>CARIBENA CH . . . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>ILVERO MONTE CASTRO CH .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA IND . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPO ESPECIAL IND . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA IND . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE IND . . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT IND . . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS IND . . . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPIGNON IND . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>VERDE IND . . . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CARIBENA IND . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ILVERO MONTE CASTRO IND . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANO GRANDE . . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLONIA GRANDE . . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDITERRANEA GDE . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES GR . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>SOLERA GRANDE . . . . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>HISPANA GRANDE . . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCULA Y PARMES GDE . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>DE VIENA GRANDE . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ESMERALDA GRANDE . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS ESPECIAL GRA . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANO CHICA . . . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLONIA CHICA . . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDITERRANEA CHICA . . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES CH . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>SOLERA CHICA . . . . . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>HISPANA CHICA . . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCULA Y PARME CHICA . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>DE VIENA CHICA . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>ESMERALDA CHICA . . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOA ESPE CHICA . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANO INDIVIDUAL . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLONIA INDIVIDUAL . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDITERRANEA INDIVID . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES IN . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>SOLERA INDIVIDUAL . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>IND CRUDO RUCULA . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCULA Y PARMES IND . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>DE VIENA INDIV . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>ESMERALDA INDIVIDUAL . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOA ESP IND . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZETTA RELLENA . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZETTA RELLENA JAM . . $860</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE GDE VS . . . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE VS CH . . . . . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>DE LA CASA GRANDE . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>DE LA CASA CHICA . . . .  $395</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA MONTE CASTRO . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA DE EMPANADAS $330</li>                          
                <li class="text-center"><span class="fa-li"></span>DOCENA DE EMPANADAS . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS . . . . . . . .  $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS FRÍAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PLATITO FIAM O QUESO . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PLATITO ACEIT,PALIT,PAP.M  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO PORCION . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO CON PALMITOS $600</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO C QUESO/ANAN $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CON SALSA GOLF . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO PORCION . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO CON PALMITOS  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO C QUESO/ANANA $800</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON/MAYONESA DE AVE  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>PICADA PARA 2 . . . . . .$1000</li>                          
                <li class="text-center"><span class="fa-li"></span>PICADA PARA 4 . . . . . .$1500</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON O MAYO DE ATUN . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE CON RUSA . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON O MAYO DE ATUN . $330</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS CALIENTES  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE CAPRESSE . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 PORC RABAS . . . . .  $570</li>                          
                <li class="text-center"><span class="fa-li"></span>BASTONCITOS DE MUZZARELLA $450</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS . . . . . . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>DADITOS DE MUZZARELLA . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE QUESO . . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE JAMON/QUESO . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>TORT DE PAPA O VERD . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>TORT PAPAS Y CEBOLLA . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION . . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FRITAS/PURE . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION ESPECIAL . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA CREMA/ARROZ GRIE $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO PROVENZAL . . . .  $30</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE CAPRESSE . . . . $480</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA CHICA . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA GRANDE . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA MIXTA . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADAS ESPECIALES . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA ESPECIAL CHICA . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION DE ENSALADA .   $75</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO ENTERO CON FRITAS . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA QUESO CHEDDAR . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU INFANTIL . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO/PANACHE  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CROQUETAS DE VERDURA . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>CHURRASQUITO AL PLATO . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO DESH. . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN C/MUZZA . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN NAPO/SORRE . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA COMPLETA . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA A LA RIOJANA . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE POLLO . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA POLLO . . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA/MILA POLLO NAPOL  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPE DE TERNERA . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPE NAPO/MUZZA . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE SOJA C/GUARNI $280</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE SOJA NAPO/MUZZA . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPES ESPECIALES . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA CREMA DE VERDEO . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLOS ESPECIALES . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MONTE CASTRO . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPRE SUIZA-VERDEO-MOSTAZ $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND . . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER MILANGA P/COMPARTIR$1300</li>                          
                <li class="text-center"><span class="fa-li"></span>MERLUZA AL ROQUEFORT . .  $570</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA O SUPREMA PIN PUN .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA O SUP .LOPE DE VEGA  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA LOPE DE VEGA . . . . $900</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLA            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU LOMO . . . . . . . .$1050</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO . . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BIFE CHORIZO . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMOS ESPECIALES . . . .  $800</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS Y SALSAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SORRENTINOS CAPRESSE . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPPES JAMON Y MUZZA . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPPES CAPRESSE . . . .  $265</li>                          
                <li class="text-center"><span class="fa-li"></span>CANELONES . . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES VERDURA O RICOTA $240</li>                          
                <li class="text-center"><span class="fa-li"></span>FIDEOS O .NOQUIS . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>SORREN / CANELO / AGNELO  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOG-SCARP-PESTO . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO DE CARNE O POLLO $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA GRAN CARUSO/4 QUESO $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA FIL/CRE/BCA/MAN/MIX $140</li>                          
                <li class="text-center"><span class="fa-li"></span>AL PESTO . . . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PARISSIENNE . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA SUE SUE . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA MANTECA . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA AL FUNGHY O CURATTO $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES ESPECIALE</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ALMUERZO . . . . . . . .  $495</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EJECUTIVO 305 . . . . . . $305</li>                          
                <li class="text-center"><span class="fa-li"></span>EJECUTIVO 335 . . . . . . $335</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU MICHELIN . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU DEL DIA . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU B . . . . . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU C . . . . . . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU D . . . . . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU E . . . . . . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU F . . . . . . . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>ENTRADA A . . . . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>LOCRO . . . . . . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU OLGA . . . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>ROSCA DE PASCUA . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU POLLO ESPECIAL . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO RABAS . . . . . . .  $98</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/monca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
              <a href="/monca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
