    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PAN DE PIZZA CHICO . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>COMIDA LGB-LM . . . . . .$1100</li>                          
                <li class="text-center"><span class="fa-li"></span>FESTIVAL DE PASTAS 250 .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA CALIENTE . . . . . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>FESTIVAL DE PASTAS 300 .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE . . . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DULCE . . . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO DE EMP + 2 LATAS .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>TRIOLET . . . . . . . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU DESAYU/MERIENDA . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU MILANESA . . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA DEL DIA . . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAYUNO DE CAMPO C 1 C/L $430</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAYUNO DE CAMPO C/2 C/L $470</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAYUNO CAMPO C/TOST ADI $530</li>                          
                <li class="text-center"><span class="fa-li"></span>MASITAS X KG . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MASITAS X 1/4KG . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/CREMA . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE C/CREMA . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE 3 M.L . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE TOST . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO ITALIANA . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICAN C/CREMA . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA C/ 3 FACTURAS $190</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE . . . . . . . . . .  $85</li>                          
                <li class="text-center"><span class="fa-li"></span>TE G.HILLS . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DIGEST.SABORIZADO . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS C/U . . . . .   $35</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS-GALLETITAS . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>MANTECA O MERMELADA . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>MATE COCIDO . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + 2 FACTURAS $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + 1/2 TORTA  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + MEDIO TOST $230</li>                          
                <li class="text-center"><span class="fa-li"></span>TE ."MONTECASTRO" . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFES ESPECIALES . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>TE "MONTE CASTRO" PARA 2  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO C/U . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS * 6 . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS * 12 . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2PORC A.ORIENTAL C/POLL $300</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA C/CHEDDAR . . . . .  $370</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">TORTAS Y POSTRES    </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/2 TOSTADO MIXTO . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>SENA . . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA ENTERA DE RIC O FLO $500</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION TORTA . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>TAR PORCI RICOT/MAN/FROLA $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA-TIRAMISU . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA O TIRAMISU ENTERO .$1120</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA ARTESANAL X KG . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA ENT RICOTA/MAN . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS FRUTAS . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNOS .O ANANA ALMIBAR $170</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLAS AL NATURAL . .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA TRADICIONAL  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS FRUTAS C/HELADO . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. CREMA O DULCE . . .   $20</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO MIXTO . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CHARLOTTE . . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MER/MEL/BANA/AF . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRITO . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>LEMON CHAMP . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE LOPE DE VEGA . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DULCE DE LECHE  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MIXTO . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUE DE MANZANA AL RHUM $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MONTECASTRO . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS FRUTAS CHICA . . . .   $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/monca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
