    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICH            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>J CRUDO C/ROQUE-BARR . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND QUESO . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND COCIDO . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND COCIDO/QUESO . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CRUDO . . . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CRUDO/QUESO . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLLITOS (2) JAM Y QUESO   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO LECH-TOM-HUE . .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>REC-ATUN-PAL-POLLO/PANC .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>REC QUESO O JAMON . . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMUERZO . . . . . . . .  $400</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ARABES CALIENTES    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ARABE DE POLLO . . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE DE CHURRASQ . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE POLLO CLASICO . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE CHURR CLASICO . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE DE MILANESA . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILANESA CLASICO .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE HAMBURGUESA . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE HAMBURGUESA CLASICO $430</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZERIA            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PAN DE PIZZA CHICO . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>AJO AL OLEO CH . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO GRANDE MUZZ+2HEINEK $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA + COCA COLA . $590</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA 1 DELIVERY .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA 2 DELIVERY .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE MUZZA HEINEKEN . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO DE EMP + 2 LATAS .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA CELIACOS . . . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA CELIACOS . . . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>EMP CAR /JYQ CELIACOS . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>GR.MUZZA +2 LATAS DE VINO $613</li>                          
                <li class="text-center"><span class="fa-li"></span>GR NAPO + 2 LATAS DE VINO $707</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PORC+FAINA+BEBIDA $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PORC + BEBIDA . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO GR MUZA +COCA . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS DE VIGILIA C/U   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA GALLEGA . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZ C/JAMON . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC NAPO/J Y MORRON . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGA RELL . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUGA RELL C/JAMON .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA PORCION . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA GDE . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZA C/JAMON GDE . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA GDE . . . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>AL MORRON GDE . . . . . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS GDE . . . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA GDE . . . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/QUESO GDE . . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>AJO AL OLEO GDE . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA GDE . . . . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA CH . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZA C/JAMON CH . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA CH . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>AL MORRON CH . . . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS CH . . . . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA CH . . . . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/QUESO CH . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>AJO AL OLEO CH . . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA CH . . . . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA IND . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZA CON JAMON IND . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA IND . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>AL MORRON IND . . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS IND . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA IND . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/QUESO IND . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>AJO AL OLEO IND . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA IND . . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA GDE . . . . .  $540</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPO ESPECIAL GDE . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA GDE . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE GDE . . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT GDE . . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS GDE . . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPIGNON GDE . . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>VERDE GDE . . . . . . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>CARIBENA GDE . . . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>ILVERO MONTE CASTRO GDE . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA CH . . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPO ESPECIAL CH . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA CH . . . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE CH . . . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT CH . . . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CH . . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPIGNON CH . . . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>VERDE CH . . . . . . . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>CARIBENA CH . . . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>ILVERO MONTE CASTRO CH .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA IND . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPO ESPECIAL IND . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA IND . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE IND . . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT IND . . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS IND . . . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPIGNON IND . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>VERDE IND . . . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CARIBENA IND . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ILVERO MONTE CASTRO IND . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANO GRANDE . . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLONIA GRANDE . . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDITERRANEA GDE . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES GR . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>SOLERA GRANDE . . . . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>HISPANA GRANDE . . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCULA Y PARMES GDE . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>DE VIENA GRANDE . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ESMERALDA GRANDE . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS ESPECIAL GRA . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANO CHICA . . . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLONIA CHICA . . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDITERRANEA CHICA . . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES CH . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>SOLERA CHICA . . . . . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>HISPANA CHICA . . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCULA Y PARME CHICA . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>DE VIENA CHICA . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>ESMERALDA CHICA . . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOA ESPE CHICA . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANO INDIVIDUAL . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLONIA INDIVIDUAL . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDITERRANEA INDIVID . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES IN . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>SOLERA INDIVIDUAL . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>IND CRUDO RUCULA . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCULA Y PARMES IND . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>DE VIENA INDIV . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>ESMERALDA INDIVIDUAL . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOA ESP IND . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZETTA RELLENA . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZETTA RELLENA JAM . . $860</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE GDE VS . . . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE VS CH . . . . . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>DE LA CASA GRANDE . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>DE LA CASA CHICA . . . .  $395</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA MONTE CASTRO . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA DE EMPANADAS $350</li>                          
                <li class="text-center"><span class="fa-li"></span>DOCENA DE EMPANADAS . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS . . . . . . . .  $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS FRIAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PLATITO FIAM O QUESO . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PLATITO ACEIT,PALIT,PAP.M  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO PORCION . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO CON PALMITOS $600</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO C QUESO/ANAN $600</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CON SALSA GOLF . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO PORCION . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO CON PALMITOS  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO C QUESO/ANANA $800</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON/MAYONESA DE AVE  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>PICADA PARA 2 . . . . . .$1000</li>                          
                <li class="text-center"><span class="fa-li"></span>PICADA PARA 4 . . . . . .$1500</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON O MAYO DE ATUN . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE CON RUSA . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON O MAYO DE ATUN . $330</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS CALIENTES  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE CAPRESSE . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO C/U . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 PORC RABAS . . . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>BASTONCITOS DE MUZZARELLA $500</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS . . . . . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>DADITOS DE MUZZARELLA . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE QUESO . . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE JAMON/QUESO . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>TORT DE PAPA O VERD . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>TORT PAPAS Y CEBOLLA . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FRITAS/PURE . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION ESPECIAL . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA CREMA/ARROZ GRIE $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO PROVENZAL . . . .  $30</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE CAPRESSE . . . . $480</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA CHICA . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA GRANDE 6 GUSTOS  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA MIXTA . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADAS ESPECIALES . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA ESPECIAL CHICA . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION DE ENSALADA .   $75</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO ENTERO CON FRITAS . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU INFANTIL . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO/PANACHE  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>CROQUETAS DE VERDURA . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO DESH . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN C/MUZZA . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERN NAPO/SORRE . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA A LA RIOJANA . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE POLLO . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA POLLO . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA/MILA POLLO NAPOL  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPE DE TERNERA . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPES ESPECIALES . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLOS ESPECIALES . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MONTE CASTRO . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPRE SUIZA-VERDEO-MOSTAZ $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND . . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER MILANGA P/COMPARTIR$1350</li>                          
                <li class="text-center"><span class="fa-li"></span>MERLUZA AL ROQUEFORT . .  $570</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA O SUPREMA PIN PUN .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA O SUP .LOPE DE VEGA  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA LOPE DE VEGA . . . . $900</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLA            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU LOMO . . . . . . . .$1050</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO . . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BIFE CHORIZO . . . . $600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS Y SALSAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALSA QUESO CHEDDAR . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FESTIVAL DE PASTAS 250 .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>FESTIVAL DE PASTAS 300 .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU PASTAS 250 . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU PASTAS 300 . . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENTINOS CAPRESSE . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPPES JAMON Y MUZZA . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPPES CAPRESSE . . . .  $265</li>                          
                <li class="text-center"><span class="fa-li"></span>CANELONES . . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES VERDURA O RICOTA $240</li>                          
                <li class="text-center"><span class="fa-li"></span>FIDEOS O .NOQUIS . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>SORREN / CANELO / AGNELO  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOG-SCARP-PESTO . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO DE CARNE O POLLO $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA GRAN CARUSO/4 QUESO $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA FIL/CRE/BCA/MAN/MIX $150</li>                          
                <li class="text-center"><span class="fa-li"></span>AL PESTO . . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PARISSIENNE . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA SUE SUE . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA MANTECA . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA AL FUNGHY O CURATTO $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/monca/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
